/* =========== PALLETE COLORS =========== */
/* #230d6d
#e15613 */

* {
  /* font-family: "ABeeZee", sans-serif; */
  font-family: "League Spartan", sans-serif;
}
/* body {
  background-color: #f4f4f4;
} */
::selection {
  color: #fff;
  background: #e15613;
}

/* =========== COMMON ELEMENTS =========== */
.section-header {
  margin-bottom: 10px;
  margin-top: 10px;
}
.section-header h2 {
  font-weight: 600;
  margin: 0;
  color: #e15613;
}
.section-header span {
  color: #230d6d !important;
}
.section-header p {
  margin: 0;
}

/* =========== UNDER MAINTENANCE =========== */
.under-maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.under-maintenance img {
  width: 10%;
  height: auto;
  margin-bottom: 50px;
}
.under-maintenance lottie-player {
  width: 150px;
  height: 150px;
}
.under-maintenance h1 {
  font-weight: bold;
  color: red;
  margin: 0;
  text-align: center;
}
.under-maintenance p {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

/* =========== NAVBAR =========== */
.navbar {
  background-color: #00000000 !important;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  z-index: 999;
}
.navbar-brand {
  max-width: 8%;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}
.nav-link {
  font-size: 16px;
}
/* =========== HOME SECTION 1 =========== */
.home-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin-top: -80px;
  background-color: #fff;
}
.home-section-1-caption {
  font-size: 16px !important;
  margin: 0;
  color: #230d6d !important;
  margin-bottom: 0 !important;
}
.home-section-1-txt {
  padding-left: 50px;
}
.home-section-1-txt h1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 60px;
}
.home-section-1-txt span {
  font-weight: bold;
  color: #e15613;
}
.home-section-1-txt p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: #777;
}
.home-section-1-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-1-img img {
  width: 100%;
}
.home-section-1-button {
  text-decoration: none;
  color: #230d6d;
  width: 200px !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #230d6d;
  font-size: 20px;
}
.home-section-1-button:hover {
  background-color: #230d6d;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

/* =========== HOME SECTION 2 =========== */
.section-2-container {
  margin-top: 100px;
}
.section-2-facility-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-2-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-2-card-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #230d6d;
  border-radius: 10px;
  margin-bottom: 15px;
}
.section-2-card-icon ion-icon {
  color: #fff;
  font-size: 22px;
}
.section-2-card {
  width: 350px;
  height: 200px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
}
.section-2-card h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #e15613;
}
.section-2-card p {
  margin: 0;
  color: #777;
  line-height: 20px;
}

/* =========== HOME SECTION 3 =========== */
.section-3-mobile-view {
  display: none;
}
.section-3-container {
  padding-top: 100px;
}
.section-3-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section-3-card {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 15px -10px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.section-3-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.section-3-card p {
  color: #000;
}
.section-3-card:hover {
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  color: #e15613;
}

/* =========== HOME SECTION 4 =========== */
.section-4-container {
  background-image: url("../images/webp/building.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: fit-content !important;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin-top: 100px;
}
.section-4-container h3 {
  margin: 0;
  color: #fff;
  font-size: 30px;
}
.section-4-container p {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

/* =========== HOME SECTION 4 =========== */
.home-section-5-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-5-img {
  max-width: 100%;
  height: auto;
}
.home-section-5-img img {
  width: 80%;
  height: auto;
}
.home-section-5-txt h3 {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  color: #230d6d;
}
.home-section-5-txt span {
  color: #e15613;
}
.home-section-5-main-txt {
  font-size: 20px;
  margin-bottom: 50px;
}
.home-section-5-link {
  text-decoration: none;
  background-color: #fff;
  color: #230d6d;
  padding: 8px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #230d6d;
}
.home-section-5-link:hover {
  text-decoration: none;
  background-color: #230d6d;
  color: #fff;
  border: 1px solid #230d6d;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
}

/* =========== SPECIALITIES SECTION 1 =========== */
.section-1-banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1-banner#specialities {
  background-image: url("../images/webp/bg-banner-1.webp");
}
.section-1-banner h1 {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}

/* =========== SPECIALITIES SECTION 2 =========== */
.speciality-section-2-grid {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.speciality-section-2-img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speciality-section-2-img img {
  width: 100%;
}
.speciality-section-2-txt li {
  font-size: 20px;
}

/* =========== FOOTER =========== */
.footer-menu {
  bottom: 0 !important;
  background-color: #fff;
  width: 100% !important;
  padding: 20px;
  border-top: 1px solid #e15613;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-nav li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-nav a:hover {
  list-style: none;
  margin-bottom: 10px;
  color: #230d6d;
}
.footer-nav a {
  text-decoration: none;
  color: #e15613;
}
.menu-list {
  flex: 1;
}
.menu-list img {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}
.footer-label {
  margin: 0;
  color: #777;
}

/* =========== DEVELOPER FOOTER =========== */
.developer-footer {
  max-width: 100%;
  background-color: #230d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.developer-footer p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: 300;
}
.developer-footer a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.developer-footer a:hover {
  text-align: center;
  color: #e15613;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* =========== COMMON ELEMENTS =========== */
  .section-header {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .section-header h2 {
    font-weight: 600;
    margin: 0;
    color: #e15613;
    text-align: left;
    font-size: 30px;
  }
  .section-header span {
    color: #230d6d !important;
  }
  .section-header p {
    margin: 0;
    text-align: left;
    font-size: 18px;
  }
  /* =========== UNDER MAINTENANCE =========== */
  .under-maintenance {
    padding: 20px;
  }
  .under-maintenance img {
    width: 30%;
  }
  .under-maintenance h1 {
    font-size: 40px;
  }
  /* =========== NAVBAR =========== */
  .navbar-brand {
    max-width: 30%;
  }
  .navbar {
    background-color: #fff !important;
    width: 100%;
    border-bottom: 0;
  }

  /* =========== HOME SECTION 1 =========== */
  .home-section-1 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    top: initial;
    position: initial;
    max-width: 100%;
    margin-top: 0;
  }
  .home-section-1-caption {
    display: none;
  }
  .home-section-1-txt {
    padding: 10px;
    max-width: 100%;
  }
  .home-section-1-txt h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: initial;
    text-align: right;
  }
  .home-section-1-txt span {
    font-weight: bold;
    font-size: 24px;
    color: #e15613;
    line-height: initial;
    text-align: right;
  }
  .home-section-1-txt p {
    font-size: 10px;
    line-height: 10px;
    text-align: right;
  }
  .home-section-1-img {
    max-width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start !important;
  }
  .home-section-1-img img {
    width: 75%;
  }
  .home-section-1-button {
    display: none;
  }

  /* =========== HOME SECTION 2 =========== */
  .section-2-card {
    width: 100%;
  }
  .section-2-link {
    border: 1px solid #e7e7e7;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-2-link a {
    text-decoration: none;
    color: #e15613;
    margin: 0 !important;
    text-align: center;
    font-size: 20px;
  }
  .section-2-link ion-icon {
    margin: 0;
    font-size: 15px;
  }

  /* =========== HOME SECTION 3 =========== */
  .section-3-desktop-view {
    display: none;
  }
  .section-3-mobile-view {
    display: initial !important;
  }
  .section-3-card-mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  /* =========== HOME SECTION 4 =========== */
  .section-4-container {
    padding: 10px;
  }
  .section-4-container p {
    font-size: 18px;
    text-align: justify;
    line-height: 20px;
  }

  /* =========== SPECIALITIES SECTION 1 =========== */
  .section-1-banner {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-1-banner#specialities {
    background-image: url("../images/webp/bg-banner-1.webp");
  }

  /* =========== SPECIALITIES SECTION 2 =========== */
  .speciality-section-2-grid {
    flex-direction: column;
  }
  .speciality-section-2-img {
    margin-bottom: 20px;
  }

  /* =========== FOOTER =========== */
  .footer-menu {
    flex-direction: column;
  }
  .menu-list {
    margin-bottom: 30px;
  }
  /* =========== DEVELOPER FOOTER =========== */
  .developer-footer p {
    font-size: 15px;
  }
}
