/* =========== PALLETE COLORS =========== */
/* #230d6d
#e15613 */

* {
  /* font-family: "ABeeZee", sans-serif; */
  font-family: "League Spartan", sans-serif;
}

::selection {
  color: #fff;
  background: #e15613;
}

/* =========== UNDER MAINTENANCE =========== */
.under-maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.under-maintenance img {
  width: 10%;
  height: auto;
  margin-bottom: 50px;
}
.under-maintenance lottie-player {
  width: 150px;
  height: 150px;
}
.under-maintenance h1 {
  font-weight: bold;
  color: red;
  margin: 0;
  text-align: center;
}
.under-maintenance p {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

/* =========== NAVBAR =========== */
.navbar {
  background-color: #00000000 !important;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  z-index: 999;
}
.navbar-brand {
  max-width: 8%;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}
.nav-link {
  font-size: 16px;
}
/* =========== HOME SECTION 1 =========== */
.home-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin-top: -80px;
}
.home-section-1-caption {
  font-size: 16px !important;
  margin: 0;
  color: #230d6d;
  margin-bottom: 0 !important;
}
.home-section-1-txt {
  padding-left: 50px;
}
.home-section-1-txt h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 75px;
}
.home-section-1-txt span {
  font-weight: bold;
  font-size: 80px;
  line-height: 75px;
  color: #e15613;
}
.home-section-1-txt p {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}
.home-section-1-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-1-img img {
  width: 100%;
}
.home-section-1-button {
  text-decoration: none;
  color: #230d6d;
  width: 200px !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #230d6d;
  font-size: 20px;
}
.home-section-1-button:hover {
  background-color: #230d6d;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

/* =========== FOOTER =========== */
.footer-menu {
  bottom: 0 !important;
  background-color: #fff;
  width: 100% !important;
  padding: 20px;
  border-top: 1px solid #e15613;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-nav li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-nav a:hover {
  list-style: none;
  margin-bottom: 10px;
  color: #230d6d;
}
.footer-nav a {
  text-decoration: none;
  color: #e15613;
}
.menu-list {
  flex: 1;
}
.menu-list img {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}
.footer-label {
  margin: 0;
  color: #777;
}

/* =========== DEVELOPER FOOTER =========== */
.developer-footer {
  max-width: 100%;
  background-color: #230d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.developer-footer p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: 300;
}
.developer-footer a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.developer-footer a:hover {
  text-align: center;
  color: #e15613;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* =========== UNDER MAINTENANCE =========== */
  .under-maintenance {
    padding: 20px;
  }
  .under-maintenance img {
    width: 30%;
  }
  .under-maintenance h1 {
    font-size: 40px;
  }
  /* =========== NAVBAR =========== */
  .navbar-brand {
    max-width: 30%;
  }
  .navbar {
    background-color: #fff !important;
    width: 100%;
    border-bottom: 0;
  }

  /* =========== HOME SECTION 1 =========== */
  .home-section-1 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    top: initial;
    position: initial;
    max-width: 100%;
    margin-top: 0;
  }
  .home-section-1-caption {
    display: none;
  }
  .home-section-1-txt {
    padding: 10px;
    max-width: 100%;
  }
  .home-section-1-txt h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: initial;
    text-align: right;
  }
  .home-section-1-txt span {
    font-weight: bold;
    font-size: 24px;
    color: #e15613;
    line-height: initial;
    text-align: right;
  }
  .home-section-1-txt p {
    font-size: 16px;
    line-height: initial;
    margin: 0;
    margin-bottom: 0;
    text-align: right;
  }
  .home-section-1-img {
    max-width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start !important;
  }
  .home-section-1-img img {
    width: 75%;
  }
  .home-section-1-button {
    display: none;
  }
}
